<launch>
    <node pkg="augv_navigation" type="waypoint_navigator.py" name="waypoint_nav_node" clear_params="true" output="screen">
        <param name="odom_input_topic" value="/odometry/filtered_map"/>
        <param name="drive_status_input_topic" value="/drive_status"/>
        <param name="move_cmd_output_topic" value="/set_point"/>
        <param name="waypoints_upload_topic" value="/way_points_upload"/>
        <param name="gps_mode_enabled" value="true"/>
        <param name="gps_input_topic" value="/sensor/gps"/>
        <param name="magnetic_declination_radians" value="-0.06352998" />
        <param name="safety_on" value="True"/>
    </node>

</launch>
