<launch>
    <rosparam file="$(find augv_robot_control)/resources/robot-config.yml" command="load"/>

    <node name="hardware_interface" pkg="augv_robot_control" type="augv_robot_hw_interface" output="screen">
        <param name="input_topic" value="/ctrl_vel_in"/>
        <param name="output_topic" value="/ctrl_vel_out"/>
    </node>

    <!-- spawn controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="mobile_base_controller" />
    <!-- mobile_base_controller-->

</launch>